* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
background: rgb(104,17,74);
background: linear-gradient(90deg, rgba(104,17,74,1) 25%, rgba(2,0,36,1) 100%);
}

h1 {
/*   border: 3px solid black; */
  padding: 30pt;
  margin-top: -10pt;
  text-align: center;
  font-size: 20pt;
/*   background-color: mediumvioletred; */
background: rgb(104,17,74);
background: linear-gradient(90deg, rgba(104,17,74,1) 25%, rgba(2,0,36,1) 100%);
  color: white;
}

h2 {
  border-style: solid black;
  padding: 20pt;
  text-align: center;
  font-size: 15pt;
  color: white;
  background-color: black;
  margin-top: -25pt;
/*   margin-left: 1.25px;
  margin-right: 1.25px; */
  margin-bottom: -0.025pt;
}

canvas {
  border: 5pt solid black;
  width: 350pt;
  height: 225pt;
  display: block;
  margin: 0 auto;
/*   background-color: lightpink; */
background: rgb(189,49,97);
background: linear-gradient(90deg, rgba(189,49,97,1) 25%, rgba(2,0,36,1) 100%);
  
}

#para1 {
  border: 2pt solid black;
  width: 250pt;
  height: 20pt;
    display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10pt;
  margin-bottom: 10pt;
/*   margin: 20px;*/
  padding: 2.25pt; 
  color: white;
/*   background-color: mediumvioletred; */
background: rgb(104,17,74);
background: linear-gradient(90deg, rgba(104,17,74,1) 25%, rgba(2,0,36,1) 100%);
}

#img {
    cursor: pointer;
  background: rgb(189,49,97);
background: linear-gradient(90deg, rgba(189,49,97,1) 25%, rgba(2,0,36,1) 100%);
  color: white;
}

#img:hover {
  background-color: lightpink;
}

#reset {
  width: 55pt;
  cursor: pointer;
  color: white;
  border-color: black;
  background-color: #cc0066;
}

#reset:hover {
  background-color: black;
}

#para2 {
  border: 2pt solid black;
  width: 250pt;
  height: 20pt;
  text-align: center;
    display: block;
  margin: 0 auto;
    padding: 2.25pt; 
/*   margin: 20px;
  padding: 10px; */
  color: white;
/*   background-color: mediumvioletred; */
background: rgb(104,17,74);
background: linear-gradient(90deg, rgba(104,17,74,1) 25%, rgba(2,0,36,1) 100%);
}

#rnb {
  width: 50pt;
    cursor: pointer;
  color: white;
  border-color: black;
    background-color: #cc0066;
}

#rnb:hover {
  background: black;
}

/* #blr {
  width: 90pt;
}

#rnb:hover {
  background-color: pink;
} */

#wnd {
  width: 50pt;
    cursor: pointer;
    color: white;
  border-color: black;
    background-color: #cc0066;
}

#wnd:hover {
  background-color: black;
}

#redh {
  width: 50pt;
    cursor: pointer;
    color: white;
  border-color: black;
    background-color: #cc0066;
}

#redh:hover {
  background-color: black;
}



background: rgb(189,49,97);
background: linear-gradient(90deg, rgba(189,49,97,1) 25%, rgba(2,0,36,1) 100%);
